.search {
    display: flex;

}

.input {
  width: 100%;
    height: 30px;
    outline: none;
    margin-right: 30px;
    border-radius: 10px;
    border-color: transparent;
}

.searchButton {
    width: 150px;
    border-radius: 10px;
    border-color: transparent;
    background-color: #FDA700;
    cursor: pointer;
}