.priceTable{
    border-collapse: collapse;
    border: 1px solid lightgray;
    transition: 0.5s;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.tableTitle{
    border: 1px solid lightgray;
    transition: 0.5s;
    padding: 5px;
   font-weight: bold;
}

.tableImage{
    display: block;
  margin-bottom: 0;
  margin-left: 20px;
  height: 40px;
  width: 50px;
}

.tableItem {
    padding: 10px;
    font-weight: bold;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.unavailable {
    color: #FDA700;
    border: 1px solid lightgray;
    font-weight: bold;
}